<div class='main-wrapper'>
  <div class="top-wrapper">
    <div class='top-inner-text'>
      <h3>ゴルフをしている、これから始めたいあなたへ</h3>
      <p>こんなあなたにおすすめ！</p>
      <p>みんなが参考にしているゴルフ動画を知りたい！ </p>
      <p>ゴルフ動画が多すぎてどれを見ればいいかわからない</p>
      <p>これからゴルフを始めたいけど、どうすればいいかわからない</p>
    </div>
  </div>
  <div class='grid'>
    <div class='item top-inner-text'>
      <h4>様々なカテゴリー</h4>
      <p>カテゴリーを細かく分けることで簡単に興味のある動画を見つけられます</p>
    </div>
    <div class='item top-inner-text'>
      <h4>おすすめゴルフ動画診断</h4>
      <p>プロフィール情報を入力するだけであなたにおすすめの動画を診断してくれます</p>
    </div>
    <div class='item top-inner-text'>
      <h4>おすすめ動画を共有</h4>
      <p>自分がタメになったゴルフ動画をみんなと共有できます。</p>
    </div>
    <div class='item top-inner-text'>
      <h4>自分と同じようなタイプかわかる</h4>
      <p>おすすめ動画を投稿した人の特徴がタグとして表示され、自分と同じようなタイプの人がタメになった動画がわかります</p>
    </div>
    <div class='item top-inner-text'>
      <h4>知りたいおすすめ動画を検索</h4>
      <p>おすすめ動画の投稿内容や投稿したユーザーの特徴で検索できます</p>
    </div>
  </div>
</div>