<% results.each do |result| %>
  <li class="autocomplete-result list-group-item" data-autocomplete-value="<%= result.id %>" data-autocomplete-label="<%= result.name %>">
    <%= result.name %>
  </li>
<% end %>