<footer id='footer' class='footer-bottom'>
  </div>
    <div class='navbar-footer'>
      <div class='nav-item'>
        <%= link_to t('footer.privacy') , "#", class: 'nav-link' %>
      </div>
      <div class='nav-item'>
        <%= link_to t('footer.terms_of_service') , "#", class: 'nav-link' %>
      </div>
      <div class='nav-item'>
        <%= link_to t('footer.contact') , "#", class: 'nav-link' %>
      </div>
</footer>