.top-wrapper {
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: auto;
  height: 300px;
  background-color: #fff;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat; /* 画像を繰り返さない */
  background-position: center; /* 画像を中央に配置 */
  display: flex;  /* Flexboxを使用 */
  justify-content: center;  /* 水平方向で中央揃え */
  align-items: center;  /* 垂直方向で中央揃え */
}

.top-inner-text {
  margin: 0;
  padding: 30px;
  text-align: center;
  font-family: "Fira Sans", sans-serif;
}

.top-inner-text h3, .top-inner-text h4 {
  margin-bottom: 20px;  /* タイトルと段落の間のスペースを増やす */
  color: #333;  /* タイトルの色を少し濃くする */
}

.top-inner-text p {
  margin-bottom: 15px;  /* 段落間のスペースを増やす */
  font-size: 16px;  /* フォントサイズを調整する */
  color: #666;  /* 段落の文字色を少し薄くする */
}


.top-main-text {
  margin: 0;
  padding: 30px;
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  color: #fff;
}

.grid {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(2, minmax(240px, 1fr));
  margin-top: 20px;
  margin-bottom: 50px;
}

.item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  justify-content: center;
  min-width: 350px; 
  position: relative; /* バッジの位置決めの基準点として設定 */
  padding-top: 30px; /* バッジのスペースを確保 */
}

.main-wrapper {
  width: 80%;
  margin:  0 auto;
}

.top-btn {
  display: grid;
  margin-bottom: 10px;
}

.login-required {
  position: absolute; /* 絶対位置指定 */
  top: 10px; /* 上から10pxの位置 */
  left: 10px; /* 左から10pxの位置 */
  background-color: #ff4757; /* バッジの背景色 */
  color: white; /* アイコンの色 */
  padding: 5px 10px; /* 内側の余白 */
  border-radius: 50%; /* 円形にする */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px; /* アイコンの大きさ */
  height: 24px; /* アイコンの大きさ */
  font-size: 12px; /* アイコンのフォントサイズ */
}

.mobile-br {
  display: none; /* デフォルトでは非表示 */
}

@media screen and (max-width: 768px) {
  .grid {
    display: unset;
  }
  .item {
    min-width: 300px; 
    margin-bottom: 20px;
  }

  .top-inner-text p {
    font-size: 16px;  /* タブレットでのフォントサイズを小さくする */
  }

  .top-inner-text h4 {
    font-size: 20px;  /* タブレットでのフォントサイズを小さくする */
  }
  .mobile-br {
    display: inline;
  }
}

@media screen and (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(2, minmax(240px, 1fr));
  }
  .item {
    min-width: 280px; 
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1400px) {
  .item {
    min-width: 280px; 
    margin-bottom: 20px;
  }
}