.top-wrapper {
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: auto;
  background-color: #fff;
  justify-content: center;
}

.top-inner-text {
  margin: 20px auto;
  padding: 30px;
  text-align: center
}

.grid {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(3, minmax(240px, 1fr));
  margin-top: 20px;
  margin-bottom: 50px;
}

.item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  justify-content: center;
}

.main-wrapper{
  width: 70%;
  margin:  0 auto;
}